* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 150px;
    background-color: #E5E5E5;

    > div:first-child {
        display: flex;
        align-items: center;
        gap: 40px;

        > div {
            cursor: pointer;
            position: relative;
            border-radius: 10px;
            
            img {
                transform: translateY(-20%);
                padding: 0 70px;
            }

        }
        
    }
    
    > div:nth-child(2) {
        border-radius: 10px;
        height: 300px;
        > img {
            height: 300px;
            padding: 0 70px;
            transform: translateY(-20%);
            
        }
        p {
            text-align: center;
            font-size: 40px;
            font-family: sans-serif;
            transform: translateY(60%);
            color: white;
        }
    }
}

@media (max-width: 500px) {
    body {
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 150px;
        background-color: #E5E5E5;
    
        > div:first-child {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
    
            > div {
                cursor: pointer;
                position: relative;
                border-radius: 10px;
                
                img {
                    width: 120px;
                    transform: translateY(-20%);
                    padding: 0 20px;
                }
    
            }
            
        }
        
        > div:nth-child(2) {
            border-radius: 10px;
            height: 200px;
            > img {
                height: 200px;
                padding: 0 40px;
                transform: translateY(-20%);
                
            }
            p {
                text-align: center;
                font-size: 30px;
                font-family: sans-serif;
                transform: translateY(60%);
                color: white;
            }
        }
    }
    
}